.embed--u-islq96j1w {display: none;}
.embed--u-idlsww1eg {display: none;}
.div--u-iq2gtlvgu {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i9p3uc0aj {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ivghbpvcb {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i7bcds24b {font-size: 0.5rem;}
.div--u-i7l3jrb4k {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-iecrcm26h {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; row-gap: 0.25rem; column-gap: 0.25rem;}
.div--u-ittebupe1 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ilnnrvdla {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-izxv287io {font-size: 0.5rem;}
.div--u-i4oqh8eks {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-id3vbw3ii {align-self: center;}
.div--u-is5hn4ica {align-self: center;}
.div--u-iwond0qfe {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i3esosz2u {font-size: 0.5rem;}
.div--u-ifcz02k8n {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i12fuezi4 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ijjaxt993 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-idpi0o0fq {font-size: 0.5rem;}
.div--u-idpjer6ct {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-iowbrmxpr {min-height: auto;}
.div--u-i3ryv6t4l {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i7b99fsvw {font-size: 0.5rem;}
.div--u-i38yilwxv {font-size: 0.5rem;}
.div--u-izep4xwa8 {min-height: 100%;}
.div--u-imsizcjo4 {font-size: 0.5rem;}
.div--u-itda55jl3 {font-size: 0.5rem;}
.div--u-ivr8qv76b {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-igcfc2j71 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-iniolcvnl {font-size: 0.5rem;}
.div--u-inuk4txss {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i45hne1xl {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i1ji7nrar {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i960bzip8 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ichhbhcii {min-height: 100vh;}
.div--u-ih3txhilf {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i3ls505ry {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ic9027jcu {align-self: center;}
.div--u-i4siqeby3 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-itoysvmzy {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-iq90o62m9 {font-size: 0.5rem;}
.div--u-i1829thg2 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-iwi1tbyms {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i6ipw7kt6 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-imfxlswcb {font-size: 0.5rem;}
.section--u-i1f5xpyt8 {min-height: 100%;}
.div--u-i7e27eycg {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-in5sz6n06 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i1x8re6eu {font-size: 0.5rem;}
.div--u-iy8uxy35v {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-id3sgtl8r {font-size: 0.5rem;}
.div--u-irsao7h5v {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-iblag3o2a {height: 100%; grid-template-columns: 90px 100% 80px; width: 606px; flex-grow: 0;}
.div--u-ih8judf1z {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ijtos66pk {font-size: 0.5rem;}
.div--u-imx5m8rg2 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i5u4t8awq {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-imr98idy6 {height: auto; align-items: flex-end; justify-content: center;}
.div--u-it0aoz7ai {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i3ipathm4 {align-self: center;}
.div--u-il983h8so {font-size: 0.5rem;}
.div--u-i3mcghl87 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i01xieqsy {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ivtm5r17j {font-size: 0.5rem;}
.div--u-ih14ulmwk {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-iq5h978p5 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-iwrht6dhb {align-self: center;}
.div--u-iud93ib88 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ij8iqd6qf {font-size: 0.5rem;}
.div--u-inyjrjy6c {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i2odk9y4y {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i74kxqs8g {font-size: 0.5rem;}
.div--u-iuq09zoe3 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ixthzejnd {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i31f5c5a3 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ijwjnu1zr {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-imtglk36g {font-size: 0.5rem;}
.div--u-i3rb22dg3 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i9wjjdi3f {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ihgre9rcq {font-size: 0.5rem;}
.div--u-isttofihf {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ifxcyzbt4 {font-size: 0.5rem;}
.div--u-i07g7bqx3 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i24k12nob {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ij5yrw1z4 {font-size: 0.5rem;}
.div--u-irt8dacic {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i63mp53b6 {font-size: 0.5rem;}
.div--u-iv95ka11q {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ii57r8l8a {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i6226xem5 {font-size: 0.5rem;}
.div--u-iq5as1a15 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-iu674cfz0 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ijm4fzdc8 {font-size: 0.5rem;}
.div--u-in442krh0 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-i8rapuw57 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-iukf644s9 {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-iyirvbo4t {font-size: 0.5rem;}
.div--u-ii3ulq3ut {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-io37irijr {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ibj7qblsw {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i5qnbftjv {font-size: 0.5rem;}
.div--u-ip0ph0jpd {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ijwo51yn8 {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-iuxcn4s9a {font-size: 0.5rem;}
.div--u-iu5veobfl {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i43cq3vrs {font-size: 0.5rem;}
.div--u-ij66exsjk {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-inqqglzzw {font-size: 0.5rem;}
.div--u-ich7dhn0f {background-color: rgb(245, 245, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-ike3geeeu {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-ios11f1nr {height: 100%; grid-template-columns: 90px 100% 80px;}
.div--u-i44x9igwb {align-self: center;}
@media (max-width: 767px) {.div--u-i1e8m1a92 {white-space: nowrap;}}
